<div class="modal fade" id="scatterdiameter-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container" style="margin-left: -200px">
            <div class="col-lg-8 col-lg">
                <div class="modal-body" style="width:1300px">
                    <html lang="en">

                    <head>
                        <meta charset="utf-8">
                        <title>Trees and Air Pollution</title>
                    </head>

                    <body>
                        <script type="text/javascript">
                                var color1;
                                var cValue1;
                                var color2;
                                var cValue2;
                                cValue1 = function (d) { return d; },
                                    color1 = d3.scale.category10(); 
                                cValue2 = function (d) { return d; },
                                    color2 = d3.scale.category10(); 
                        </script>
                        <div>
                            <button type="button" id="no2b">NO2</button>
                            <button type="button" id="o3b">O3</button>
                            <button type="button" id="pm25b">PM25</button>
                            <button type="button" id="bcb">Black Carbon</button>
                            <p></p>
                        </div>
                        <p></p>
<div id=TreesAmount style="float:top;">
    <div id="airpoll" style="float:left;">
        <script>

    var w = 960;
    var h = 500;
    var padding = 100;
    var caption = "NO2 (ppb)";

    var coeff = []
    var intercept = []
    var treesAmount = []
    var borough = []
    var cb = []
    var neigh = []
    var no2 = []
    var o3 = []
    var pm25 = []
    var bc = []

    var air_poll_path = "data/airpollution/AirPollution_Mod.csv"
    var coeff_path = "data/airpollution/CoeffInterTreesAmount.csv"
    var path_TreesAmount = "data/airpollution/TreesAmount.csv"

    var dataset = []

    var newline;
    var xScale;
    var yScale;
    var xAxis;
    var yAxis1;
    var svg_airpoll1;
    //var cValue;
    //var color;
    var legend;
    var tooltip;
    //create data points
    //var dataset = create_data(numDataPoints);


    read_csv(air_poll_path, path_TreesAmount, coeff_path, treesAmount, coeff, intercept, caption, "treesAmount");


    function read_csv(d_path1, d_path2, d_path3, xAmount, coeff, intercept, caption, id, dataset, newline){
        d3.csv(d_path1, function (error, data){
            if(error){
                 
            } else{
                data.map(function(d){ 
                    no2.push(parseFloat(d.NO2));
                    o3.push(parseFloat(d.O3)); 
                    pm25.push(parseFloat(d.PM25)); 
                    bc.push(parseFloat(d.BC));
                    borough.push((d.Borough));
                    cb.push((d.CB));
                    neigh.push((d.Neighbourhood));                      
                });
            };
            second_csv(d_path2, d_path3, xAmount, coeff, intercept, caption, id)
        });                                
    } 

    function second_csv(d_path2, d_path3, xAmount, coeff, intercept, caption, id){
        d3.csv(d_path2, function (error, data){
            if(error){
                console.log(error)
            } else{
                data.map(function(d){ 
                    if(id == "treesAmount"){
                        xAmount.push(parseInt(d.TreesAmount)); 
                    }    
                });
            };
            third_csv(d_path3, xAmount, coeff, intercept, caption, id)
        });                                
    } 

    function third_csv(d_path3, xAmount, coeff, intercept, caption, id){
        d3.csv(d_path3, function (error, data){
            if(error){
                console.log(error)
            } else{
                data.map(function(d){ 
                    coeff.push(parseFloat(d.Coeff));
                    intercept.push(parseFloat(d.Intercept));            
                });
            };
            do_svg_stuff(xAmount, coeff, intercept, caption, id);
        });                                
    } 


    function do_svg_stuff(xAmount, coeff, intercept, caption, id){
        dataset = fill_data(xAmount, no2, coeff[0], intercept[0], caption);
        // cValue = function(d) { return d.b; },
        //         color = d3.scale.category10();
        // function for creation of line
        newline = d3.line()
            .x(function(d) {
                return xScale(d.x);
            })
            .y(function(d) {
                return yScale(d.yhat);
            });


        ////// Define Scales /////////////////
        xScale = d3.scaleLinear()
                              .domain([
                                d3.min(dataset, function(d){
                                  return d.x;
                                }),
                                d3.max(dataset, function(d){
                                  return d.x;
                              })])
                              .range([padding+10,w - 10 - padding*2]);

        yScale = d3.scaleLinear()
                              .domain([
                                d3.min(dataset, function(d){
                                  return(d.y);
                                }),
                                d3.max(dataset, function(d){
                                  return (d.y);
                              })]) //y range is reversed because svg
                              .range([h-padding-10, padding+11]);
        /////// Define Axis //////////////////////////////
        xAxis = d3.axisBottom()
                          .scale(xScale);

        yAxis1 = d3.axisLeft()
                      .scale(yScale)
                      .ticks(5);
        // create svg
        svg_airpoll1 = d3.select("#airpoll")
                    .append("svg")
                    .attr("width",w)
                    .attr("height", h);

        // cut off datapoints that are outside the axis
        svg_airpoll1.append("clipPath")
            .attr("id", "chart-area")
            .append("rect")
            .attr("x", padding)
            .attr("y", padding)
            .attr("width", w-padding * 3)
            .attr("height", h-padding *2);

        // append data points
        svg_airpoll1.append("g")
            .attr("clip-path", "url(#chart-area)")
            .selectAll("circle")
            .data(dataset)
            .enter()
            .append("circle")
            .attr("class", "dot")
            .attr("cx", function(d){
              return xScale(d.x);
            })
            .attr("cy", function(d){
              return yScale(d.y);
            })
            .attr("r", 4.5)
            .attr("opacity", "0.9")
            .attr("id", function(d){
                return "cb1"+d.CB;
            })
            .style("fill", function(d) { return color1(cValue1(d.b)); })
            .on("mouseover", function(d, i) {
                tooltip.transition()
                        .duration(200)
                        .style("opacity", .9);
                tooltip.html(d.CB + "<br/> (" + (d.neigh) 
                                + ")")
                        .style("left", 500 + "px")
                        .style("top", 100 + "px");

                d3.select(this)
                    .style("stroke", "black")
                    .style("stroke-width", "4.0")
                    .style("opacity", "0.7")

                d3  .select("#cb" + d.CB)
                    .style("opacity", "0.4");
            })
            .on("mouseout", function(d) {
                tooltip.transition()
                       .duration(500)
                       .style("opacity", 0);
                d3  .select("#cb" + d.CB)
                    .style("opacity", "0.9");
                d3.select(this)
                    .style("stroke-width", "0.5")
                    .style("opacity", "0.9")
            });


        // append regression line
        svg_airpoll1.append("path")
            .datum(dataset)
            .attr("clip-path", "url(#chart-area)")
            .attr("class", "line")
            .attr("d", newline);

        // append Axes ///////////////////////////
        svg_airpoll1.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + (h-padding) + ")")
            .call(xAxis)
            .append("text")
            .attr("class", "label")
            .attr("x", w)
            .attr("y", -6);

        svg_airpoll1.append("g")
            .attr("class", "y axis1")
            .attr("transform", "translate(" + padding + ",0)")
            .call(yAxis1)
            .append("text")
            .attr("class", "label")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em");

        svg_airpoll1.append("text")
            .attr("class", "xaxis_label")
            .attr("text-anchor", "end")  // this makes it easy to centre the text as the transform is applied to the anchor
            .attr("transform", "translate("+ (w/2+270) +","+((h-((padding-2)/10))-45)+")")  // centre below axis
            .text(function(){
                if (id == "treesAmount"){
                    return ("Trees Amount")
                }
            });

        svg_airpoll1.append("text")
            .attr("class", "yaxis_label")
            .attr("text-anchor", "end")  // this makes it easy to centre the text as the transform is applied to the anchor
            .attr("transform", "translate("+ ((padding/5)+40) +","+((h-(padding+160))/2)+")rotate(-90)")  // text is drawn off the screen top left, move down and out and rotate
            .text(caption);



          // draw legend
        legend = svg_airpoll1.selectAll(".legend")
                    .data(color1.domain())
                    .enter().append("g")
                    .attr("class", "legend")
                    .attr("transform", function(d, i) { return "translate(-140," + i * 20 + ")"; });

          // draw legend colored rectangles
        legend.append("rect")
              .attr("x", w - 18)
              .attr("width", 18)
              .attr("height", 18)
              .style("fill", color1);

          // draw legend text
        legend.append("text")
              .attr("x", w - 20)
              .attr("y", 9)
              .attr("dy", ".35em")
              .style("text-anchor", "end")
              .text(function(d) { return d;})

        tooltip = d3.select("#airpoll").append("div")
                    .attr("class", "tooltip")
                    .style("z-index", 10000)
                    .style("opacity", 0);

    }

    function update_fig(airpoll, n, caption){
        dataset = fill_data(treesAmount, airpoll, coeff[n], intercept[n], caption);
        //Update scale domains
        xScale.domain([
            d3.min(dataset, function(d) { return d.x; }), 
            d3.max(dataset, function(d) { return d.x; })
        ]);
        yScale.domain([
           d3.min(dataset, function(d) { return d.y; }),
           d3.max(dataset, function(d) { return d.y; })
        ]);

        // update data points
        svg_airpoll1.selectAll("circle")
            .data(dataset)
            .transition()
            .duration(1000)
            .attr("cx", function(d){
              return xScale(d.x);
            })
            .attr("cy", function(d){
              return yScale(d.y);
            });

        // update and transition regression line
        svg_airpoll1.select("path")
            .datum(dataset)
            .transition()
            .duration(1000)
            .attr("d", newline);

        // update axis
        svg_airpoll1.select(".x.axis")
              .transition()
              .duration(1000)
              .call(xAxis);

        svg_airpoll1.select(".y.axis1")
                .transition()
                .duration(1000)
                .call(yAxis1);

        svg_airpoll1.select(".yaxis_label")
                    .transition()
                    .duration(4000)
                    .text(caption);
    }

    function fill_data(x, y, coeff, intercept, caption) {
        caption = caption; 
        var yhat = [];
        for (i = 0; i < x.length; i++) {
            yhat.push(intercept + (x[i] * coeff));
        }

        var data = [];
        for (i = 0; i < y.length; i++) {
            data.push({
                "yhat": yhat[i],
                "y": y[i],
                "x": x[i],
                "b": borough[i],
                "CB": cb[i],
                "neigh": neigh[i]
            })
        }
        return (data);
    }




                                </script>
                            </div>
                            <!-- End of air pollution scatterplot, trees amount-->


                            <div id="commdisgeojson" style="float:right;">
                                <script type="text/javascript">
                                    //Width and height
                                    var wg = 500;
                                    var hg = 700;
                                    var tooltip2;


                                    //Define map projection
                                    var projection = d3.geo.mercator()
                                        .center([-73.9741874, 40.7711329])
                                        .translate([wg / 2, hg / 2])
                                        .scale([38000]);

                                    //Define path generator
                                    var path = d3.geo.path()
                                        .projection(projection);

                                    //Create SVG element
                                    var svg_mapcb = d3.select("#commdisgeojson")
                                        .append("svg")
                                        .attr("width", wg)
                                        .attr("height", hg)
                                        .attr("transform", "translate(170," + (-1250) + ")");

                                    //Load in GeoJSON data
                                    d3.json("data/geojson/commdis.geojson", function (json) {

                                        //Bind data and create one path per GeoJSON feature
                                        svg_mapcb.selectAll("path")
                                            .data(json.features)
                                            .enter()
                                            .append("path")
                                            .attr("d", path)
                                            .attr("id", function (d) {
                                                return ("cb" + d.properties.BoroCD);
                                            })
                                            .style("fill", function (d) { return calculateBorough(d.properties.BoroCD); })
                                            .style("stroke", "black")
                                            .style("stroke-width", "1.2")
                                            .on("mouseover", function (d) {

                                                d3.select(this)
                                                    .style("opacity", "0.4")
                                                tooltip2.transition()
                                                    .duration(200)
                                                    .style("opacity", .9);
                                                tooltip2.html((d.properties.BoroCD)
                                                    + "")
                                                    .style("left", 500 + "px")
                                                    .style("top", 100 + "px");

                                                d3.selectAll("#cb1" + d.properties.BoroCD)
                                                    .style("stroke", "black")
                                                    .style("stroke-width", "4.0")
                                                    .style("opacity", "0.7")


                                            })
                                            .on("mouseout", function (d) {
                                                d3.select(this)
                                                    .style("opacity", "0.9")

                                                tooltip2.transition()
                                                    .duration(500)
                                                    .style("opacity", 0);

                                                d3.selectAll("#cb1" + d.properties.BoroCD)
                                                    .style("stroke-width", "0.5")
                                                    .style("opacity", "0.9")
                                            });


                                    });
                                    tooltip2 = d3.select("#commdisgeojson").append("div")
                                        .attr("class", "tooltip")
                                        .style("z-index", 10000)
                                        .style("opacity", 0);

                                    function calculateBorough(d) {
                                        var cap;
                                        if (parseInt(d) >= 500) {
                                            cap = "Staten Island";
                                        }
                                        else if (parseInt(d) >= 400) {
                                            cap = "Queens";
                                        }
                                        else if (parseInt(d) >= 300) {
                                            cap = "Brooklyn";
                                        }
                                        else if (parseInt(d) >= 200) {
                                            cap = "Bronx";
                                        }
                                        else if (parseInt(d) >= 100) {
                                            cap = "Manhattan";
                                        }

                                        return color1(cValue1(cap));
                                    }



                                </script>
                            </div>
                        </div>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>

                        <p></p>
                        <div id="diamdiv">
                            <div id="airpoll_d" style="float:left;">
                                <script>
                                    var wd = 960;
                                    var hd = 500;
                                    var paddingd = 100;
                                    var captiond = "NO2 (ppb)";

                                    var coeffd = []
                                    var interceptd = []
                                    var diameter = []
                                    var boroughd = []
                                    var cbd = []
                                    var neighd = []
                                    var no2d = []
                                    var o3d = []
                                    var pm25d = []
                                    var bcd = []

                                    var air_poll_pathd = "data/airpollution/AirPollution_Mod.csv"
                                    var coeff_pathd = "data/airpollution/CoeffInterDiam.csv"
                                    var path_diameterd = "data/airpollution/Diameter.csv"

                                    var datasetd = []

                                    var newlined;
                                    var xScale;
                                    var yScale;
                                    var xAxisd;
                                    var yAxisd;
                                    var svg_airpoll2;
                                    //var cValue;
                                    //var color;
                                    var legendd;
                                    var tooltipd;
                                    //create data points
                                    //var dataset = create_data(numDataPoints);


                                    read_csv_d(air_poll_pathd, path_diameterd, coeff_pathd, diameter, coeffd, interceptd, captiond, "diameter");

 


    function read_csv_d(d_path1, d_path2, d_path3, xAmount, coeff, intercept, caption, id, dataset, newline){
        d3.csv(d_path1, function (error, data){
            if(error){
                 console.log(error)
            } else{
                data.map(function(d){ 
                    no2d.push(parseFloat(d.NO2));
                    o3d.push(parseFloat(d.O3)); 
                    pm25d.push(parseFloat(d.PM25)); 
                    bcd.push(parseFloat(d.BC));
                    boroughd.push((d.Borough));
                    cbd.push((d.CB));
                    neighd.push((d.Neighbourhood));                      
                });
            };
            second_csv_d(d_path2, d_path3, xAmount, coeff, intercept, caption, id)
        });                                
    } 

    function second_csv_d(d_path2, d_path3, xAmount, coeff, intercept, caption, id){
        d3.csv(d_path2, function (error, data){
            if(error){
                console.log(error)
            } else{
                data.map(function(d){ 
                    if(id == "diameter"){
                        xAmount.push(parseFloat(d.Diameter)); 
                    }    
                });
            };
            third_csv_d(d_path3, xAmount, coeff, intercept, caption, id)
        });                                
    } 

    function third_csv_d(d_path3, xAmount, coeff, intercept, caption, id){
        d3.csv(d_path3, function (error, data){
            if(error){
                console.log(error)
            } else{
                data.map(function(d){ 
                    coeff.push(parseFloat(d.Coeff));
                    intercept.push(parseFloat(d.Intercept));            
                });
            };
            do_svg_stuff_2(xAmount, coeff, intercept, caption, id);
        });                                
    } 


    function do_svg_stuff_2(xAmount, coeff, intercept, caption, id){
        datasetd = fill_data_2(xAmount, no2d, coeff[0], intercept[0], caption);
        // cValue = function(d) { return d.b; },
        //         color = d3.scale.category10();
        // function for creation of line
        newlined = d3.line()
            .x(function(d) {
                return xScale(d.x);
            })
            .y(function(d) {
                return yScale(d.yhat);
            });


        ////// Define Scales /////////////////
        xScale  = d3.scaleLinear()
                              .domain([
                                d3.min(datasetd, function(d){
                                  return d.x;
                                }),
                                d3.max(datasetd, function(d){
                                  return d.x;
                              })])
                              .range([paddingd+10,wd - 10 - paddingd*2]);

        yScale = d3.scaleLinear()
                              .domain([
                                d3.min(datasetd, function(d){
                                  return(d.y);
                                }),
                                d3.max(datasetd, function(d){
                                  return (d.y);
                              })]) //y range is reversed because svg
                              .range([hd-paddingd-10, paddingd+11]);
        /////// Define Axis //////////////////////////////
        xAxisd = d3.axisBottom()
                          .scale(xScale );

        yAxisd = d3.axisLeft()
                      .scale(yScale)
                      .ticks(5);
        // create svg
        svg_airpoll2 = d3.select("#airpoll")
                    .append("svg")
                    .attr("width",wd)
                    .attr("height", hd);

        // cut off datapoints that are outside the axis
        svg_airpoll2.append("clipPath")
            .attr("id", "chart-area")
            .append("rect")
            .attr("x", paddingd)
            .attr("y", paddingd)
            .attr("width", wd-paddingd * 3)
            .attr("height", hd-paddingd *2);

        // append data points
        svg_airpoll2.append("g")
            .attr("clip-path", "url(#chart-area)")
            .selectAll("circle")
            .data(datasetd)
            .enter()
            .append("circle")
            .attr("class", "dot")
            .attr("cx", function(d){
              return xScale (d.x);
            })
            .attr("cy", function(d){
              return yScale(d.y);
            })
            .attr("r", 4.5)
            .attr("opacity", "0.9")
            .attr("id", function(d){
                return "cb1d"+d.CB;
            })
            .style("fill", function(d) { return color2(cValue2(d.b)); })
            .on("mouseover", function(d, i) {
                tooltipd.transition()
                        .duration(200)
                        .style("opacity", .9);
                tooltipd.html(d.CB + "<br/> (" + (d.neigh) 
                                + ")")
                        .style("left", 500 + "px")
                        .style("top", 650 + "px");


                d3.select(this)
                    .style("stroke", "black")
                    .style("stroke-width", "4.0")
                    .style("opacity", "0.7")

                d3  .select("#cb_d" + d.CB)
                    .style("opacity", "0.4");
            })
            .on("mouseout", function(d) {
                tooltipd.transition()
                       .duration(500)
                       .style("opacity", 0);

                d3  .select("#cb_d" + d.CB)
                    .style("opacity", "0.9");
                d3.select(this)
                    .style("stroke-width", "0.5")
                    .style("opacity", "0.9")
            });


        // append regression line
        svg_airpoll2.append("path")
            .datum(datasetd)
            .attr("clip-path", "url(#chart-area)")
            .attr("class", "line")
            .attr("d", newlined);

        // append Axes ///////////////////////////
        svg_airpoll2.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + (hd-paddingd) + ")")
            .call(xAxisd)
            .append("text")
            .attr("class", "label")
            .attr("x", wd)
            .attr("y", -6);

        svg_airpoll2.append("g")
            .attr("class", "y axis")
            .attr("transform", "translate(" + paddingd + ",0)")
            .call(yAxisd)
            .append("text")
            .attr("class", "label")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em");

        svg_airpoll2.append("text")
            .attr("class", "xaxis_label")
            .attr("text-anchor", "end")  // this makes it easy to centre the text as the transform is applied to the anchor
            .attr("transform", "translate("+ (wd/2+270) +","+((hd-((paddingd-2)/10))-45)+")")  // centre below axis
            .text(function(){
                if (id == "diameter"){
                    return ("Diameter")
                }
            });

        svg_airpoll2.append("text")
            .attr("class", "yaxis_label")
            .attr("text-anchor", "end")  // this makes it easy to centre the text as the transform is applied to the anchor
            .attr("transform", "translate("+ ((paddingd/5)+40) +","+((hd-(paddingd+160))/2)+")rotate(-90)")  // text is drawn off the screen top left, move down and out and rotate
            .text(caption);



          // draw legend
        legendd = svg_airpoll2.selectAll(".legend")
                    .data(color2.domain())
                    .enter().append("g")
                    .attr("class", "legend")
                    .attr("transform", function(d, i) { return "translate(-140," + i * 20 + ")"; });

          // draw legend colored rectangles
        legendd.append("rect")
              .attr("x", wd - 18)
              .attr("width", 18)
              .attr("height", 18)
              .style("fill", color2);

          // draw legend text
        legendd.append("text")
              .attr("x", wd - 20)
              .attr("y", 9)
              .attr("dy", ".35em")
              .style("text-anchor", "end")
              .text(function(d) { return d;})

        tooltipd = d3.select("#airpoll").append("div")
                    .attr("class", "tooltip")
                    .style("z-index", 10000)
                    .style("opacity", 0);

    }

    function update_fig_d(airpoll, n, caption){
        datasetd = fill_data_2(diameter, airpoll, coeffd[n], interceptd[n], caption);
        //Update scale domains
        xScale .domain([
            d3.min(datasetd, function(d) { return d.x; }), 
            d3.max(datasetd, function(d) { return d.x; })
        ]);
        yScale.domain([
           d3.min(datasetd, function(d) { return d.y; }),
           d3.max(datasetd, function(d) { return d.y; })
        ]);

        // update data points
        svg_airpoll2.selectAll("circle")
            .data(datasetd)
            .transition()
            .duration(1000)
            .attr("cx", function(d){
              return xScale (d.x);
            })
            .attr("cy", function(d){
              return yScale(d.y);
            });

        // update and transition regression line
        svg_airpoll2.select("path")
            .datum(datasetd)
            .transition()
            .duration(1000)
            .attr("d", newlined);

        // update axis
        svg_airpoll2.select(".x.axis")
              .transition()
              .duration(1000)
              .call(xAxisd);

        svg_airpoll2.select(".y.axis")
                .transition()
                .duration(1000)
                .call(yAxisd);

        svg_airpoll2.select(".yaxis_label")
                    .transition()
                    .duration(4000)
                    .text(caption);
    }

    function fill_data_2(x, y, coeff, intercept, caption) {
        caption = caption; 
        var yhat = [];
        for (i = 0; i < x.length; i++) {
            yhat.push(intercept + (x[i] * coeff));
        }

        var data = [];
        for (i = 0; i < y.length; i++) {
            data.push({
                "yhat": yhat[i],
                "y": y[i],
                "x": x[i],
                "b": boroughd[i],
                "CB": cbd[i],
                "neigh": neighd[i]
            })
        }
        return (data);
    }


                                </script>
                            </div>
                            <!-- End of air pollution scatterplot, diameter-->
                            <div id="commdisgeojson2" style="float:right;">
                                <script type="text/javascript">
                                    //Width and height
                                    var wgd = 500;
                                    var hgd = 700;
                                    var tooltip2d;


                                    //Define map projection
                                    var projectiond = d3.geo.mercator()
                                        .center([-73.9741874, 40.7711329])
                                        .translate([wg / 2, hg / 2])
                                        .scale([38000]);

                                    //Define path generator
                                    var pathd = d3.geo.path()
                                        .projection(projection);

                                    //Create SVG element
                                    var svg_mapcb2 = d3.select("#commdisgeojson2")
                                        .append("svg")
                                        .attr("width", wg)
                                        .attr("height", hg)
                                        .attr("transform", "translate(700," + (-700) + ")");

                                    //Load in GeoJSON data
                                    d3.json("data/geojson/commdis.geojson", function (json) {

                                        //Bind data and create one path per GeoJSON feature
                                        svg_mapcb2.selectAll("path")
                                            .data(json.features)
                                            .enter()
                                            .append("path")
                                            .attr("d", path)
                                            .attr("id", function (d) {
                                                return ("cb_d" + d.properties.BoroCD);
                                            })
                                            .style("fill", function (d) { return calculateBorough(d.properties.BoroCD); })
                                            .style("stroke", "black")
                                            .style("stroke-width", "1.2")
                                            .on("mouseover", function (d) {

                                                d3.select(this)
                                                    .style("opacity", "0.4")
                                                tooltip2d.transition()
                                                    .duration(200)
                                                    .style("opacity", .9);
                                                tooltip2d.html((d.properties.BoroCD)
                                                    + "")
                                                    .style("left", 500 + "px")
                                                    .style("top", 650 + "px");

                                                d3.selectAll("#cb1d" + d.properties.BoroCD)
                                                    .style("stroke", "black")
                                                    .style("stroke-width", "4.0")
                                                    .style("opacity", "0.7")


                                            })
                                            .on("mouseout", function (d) {
                                                d3.select(this)
                                                    .style("opacity", "0.9")

                                                tooltip2d.transition()
                                                    .duration(500)
                                                    .style("opacity", 0);

                                                d3.selectAll("#cb1d" + d.properties.BoroCD)
                                                    .style("stroke-width", "0.5")
                                                    .style("opacity", "0.9")
                                            });


                                    });
                                    tooltip2d = d3.select("#commdisgeojson2").append("div")
                                        .attr("class", "tooltip")
                                        .style("z-index", 10000)
                                        .style("opacity", 0);

                                    function calculateBorough(d) {
                                        var capd;
                                        if (parseInt(d) >= 500) {
                                            capd = "Staten Island";
                                        }
                                        else if (parseInt(d) >= 400) {
                                            capd = "Queens";
                                        }
                                        else if (parseInt(d) >= 300) {
                                            capd = "Brooklyn";
                                        }
                                        else if (parseInt(d) >= 200) {
                                            capd = "Bronx";
                                        }
                                        else if (parseInt(d) >= 100) {
                                            capd = "Manhattan";
                                        }

                                        return color2(cValue2(capd));
                                    }
                                </script>
                            </div>
                        </div>
                        <script type="text/javascript">
                            d3.select("#o3b")
                                .on("click", function () {
                                    // create new data
                                    update_fig(o3, 1, "O3 (ppb)");
                                    update_fig_d(o3d, 1, "O3 (ppb)");
                                });
                            d3.select("#pm25b")
                                .on("click", function () {
                                    // create new data
                                    update_fig(pm25, 2, "PM25 (Mcg per cubic meter)")
                                    update_fig_d(pm25d, 2, "PM25 (Mcg per cubic meter)")
                                });
                            d3.select("#bcb")
                                .on("click", function () {
                                    // create new data
                                    update_fig(bc, 3, "Black Carbon (absorbance unit)")
                                    update_fig_d(bcd, 3, "Black Carbon (absorbance unit)")
                                });
                            d3.select("#no2b")
                                .on("click", function () {
                                    // create new data
                                    update_fig(no2, 0, "NO2 (ppb)");
                                    update_fig_d(no2d, 0, "NO2 (ppb)");
                                });
                        </script>
                    </body>

                    </html>


                    <button type="button" style="float: right;margin-right: -600px;" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                </div>
            </div>
        </div>
    </div>
</div>