<div class="modal fade" id="modal-tree" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body">
						<h2>Distribution of trees</h2>
						<hr class="star-primary">
						<p>Here you can see the how the top 5 tree species in NYC from 2015 is distributed in different years and for each of
							the 5 boroughs.
							<br><br>
							Click the buttons below to change view between years and hover for details. 
						</p>
						<html lang="en">
						<head>
							<meta charset="utf-8">
							<title>Histogram</title>
							<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
							<style type="text/css">
								div.tooltip {
									box-sizing: border-box;
									display: inline;
									font-size: 20px;
									width: 100%;
									z-index: 10000;
									line-height: 1;
									color: rgba(0, 0, 0, 0.8);
									content: "\25BC";
									position: absolute;
									text-align: center;
								}
								
								#tooltip {
									position: relative;
									width: 200px;
									height: auto;
									padding: 10px;
									background-color: white;
									-webkit-border-radius: 10px;
									-moz-border-radius: 10px;
									border-radius: 10px;
									-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
									-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
									box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
									pointer-events: none;
								}
							</style>
							<svg id="hist_svg" width="960" height="500" style="position:relative; left:-90px; z-index: 10000"></svg>
						</head>

						<div id="histogram_div">
							<div id="inner_hist_div"y>
								<h4 class="Description" id="SelectionYear" margin-left="100px">
									<!-- What you are actually visualizing. Will change on click of buttons -->
									You are now visualizing: 2015 Data
								</h4>
								<button type="button" onclick="histBtnClicked('95data')"><p id="95data">Change to 1995 data</p></button>
								<button type="button" onclick="histBtnClicked('05data')"><p id="05data">Change to 2005 data</p></button>
								<button type="button" onclick="histBtnClicked('15data')"><p id="15data">Change to 2015 data</p></button>
								<br><br>

								<script type="text/javascript">
								
									var svg_hist = d3.select("#hist_svg")
									margin = { top: 20, right: 20, bottom: 30, left: 40 },
										width = +svg_hist.attr("width") - margin.left - margin.right,
										height = +svg_hist.attr("height") - margin.top - margin.bottom,
										g = svg_hist.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

									var x0 = d3.scaleBand()
										.rangeRound([0, width])
										.paddingInner(0.1);

									var x1 = d3.scaleBand()
										.padding(0.05);

									var y = d3.scaleLinear()
										.rangeRound([height, 0]);

									var z = d3.scaleOrdinal()
										.range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

									// Define the div for the tooltip
									var hist_tool_div = d3.select("#inner_hist_div").append("div")
										.attr("class", "tooltip")
										.style("z-index", 10000)
										.style("opacity", 0);
									var data_file = "/data/tree_top5_data.csv";

									var xAxis = d3.axisBottom(x0);
									var yAxis = d3.axisLeft(y).ticks(null, "s");


									//d3.csv(data_file, function (d, i, columns) {
										//for (var i = 1, n = columns.length; i < n; ++i) d[columns[i]] = +d[columns[i]];

									d3.csv(data_file, function (error, data){
											var keys;
											var Tree;
								            if(error){
								                 console.log(error)
								            } else{
								            	keys = d3.keys(data[0]);
								                data.map(function(d){ 
								                    return{
								                    	Tree: d.Tree, 
								                    	value: d.value
								                    }

								                });
								            };
								            key_new = keys.splice(0,1)
								            load_data(data, keys);
									});
										
									
									function load_data(data, keys){	

										x0.domain(data.map(function (d) { return d.Tree; }));
										x1.domain(keys).rangeRound([0, x0.bandwidth()]);
										//y.domain([0, d3.max(data, function (d) { return d3.max(keys, function (key) { return d[key];}); })]).nice();
										y.domain([0, 95000]).nice();
										
										g.append("svg")
											.selectAll("g")
											.data(data)
											.enter().append("g")
											.attr("transform", function (d) { return "translate(" + x0(d.Tree) + ",0)"; })
											.selectAll("rect")
											.data(function (d) { return keys.map(function (key) { return { key: key, value: d[key], trees: d.Tree }; }); })
											.enter().append("rect")
											.attr("x", function (d) { return x1(d.key); })
											.attr("y", function (d) { return y(d.value); })
											.attr("width", x1.bandwidth())
											.attr("height", function (d) { return height - y(d.value); })
											.attr("fill", function (d) { return z(d.key); })
											.on("mouseover", function (d) {
												hist_tool_div.transition()
													.duration(10)
													.style("opacity", .9);
												d3.select(this)
													.style("opacity", 0.5)
													.attr("stroke-width", "10px");
												hist_tool_div.html("<b>" + d.key + "</b>" + "<br>" + d.value + " <i>" + d.trees + "</i> trees")
													.style("left", (180) + "px")
													.style("top", (260) + "px");
											})
											.on("mouseout", function (d) {
												hist_tool_div.transition()
													.duration(200)
													.style("opacity", 0);
												d3.select(this)
													.style("opacity", .9);
											});

										g.append("g")
											.attr("class", "axis")
											.attr("transform", "translate(0," + height + ")")
											.call(xAxis);

										g.append("g")
											.attr("class", "axis")
											.call(yAxis)
											.append("text")
											.attr("x", 2)
											.attr("y", y(y.ticks().pop()) + 0.5)
											.attr("dy", "0.32em")
											.attr("fill", "#000")
											.attr("font-weight", "bold")
											.attr("text-anchor", "start")
											.text("Amount of trees");

										var legend = g.append("g")
											.attr("font-family", "sans-serif")
											.attr("font-size", 10)
											.attr("text-anchor", "end")
											.selectAll("g")
											.data(keys.slice())
											.enter().append("g")
											.attr("transform", function (d, i) { return "translate(0," + i * 20 + ")"; });

										legend.append("rect")
											.attr("x", width - 19)
											.attr("width", 19)
											.attr("height", 19)
											.attr("fill", z);

										legend.append("text")
											.attr("x", width - 24)
											.attr("y", 9.5)
											.attr("dy", "0.32em")
											.text(function (d) { return d; });

									};

									function histBtnClicked(btnId) {
											var bttnID = btnId;
											var des = document.getElementById("SelectionYear")

											//Handle buttons for the different years
											if (bttnID == "95data") {
												//1995 data
												data_file = "/data/data1995.csv";
												SelectionYear.innerHTML = "1995 data";
												//changing the text saying what we are currently visualizing
												document.getElementById("SelectionYear").innerHTML = "You are now visualizing: " + SelectionYear.innerHTML;
												update_histogram(data_file);
											}
											else if (bttnID == "05data") {
												//2005 data
												data_file = "/data/data2005.csv";
												SelectionYear.innerHTML = "2005 data";
												//changing the text saying what we are currently visualizing
												document.getElementById("SelectionYear").innerHTML = "You are now visualizing: " + SelectionYear.innerHTML;
												update_histogram(data_file);

											}
											else if (bttnID == "15data") {
												//2015 data
												data_file = "/data/tree_top5_data.csv";
												SelectionYear.innerHTML = "2015 data";
												//changing the text saying what we are currently visualizing
												document.getElementById("SelectionYear").innerHTML = "You are now visualizing: " + SelectionYear.innerHTML;
												update_histogram(data_file);
											};
									};

									function update_hist(data_file) {
										d3.csv(data_file, function (data, i, columns) {
											return iter_file(d, i, columns);
										}, function (error, data) {
											if (error) throw error;											

											var keys = ["NYC", "Bronx", "Brooklyn", "Staten Island", "Manhattan", "Queens"];

										});
									}

									function update_histogram(data_file){
										d3.csv(data_file, function (error, data){
											var keys;
											var Tree;
								            if(error){
								                 console.log(error)
								            } else{
								            	keys = d3.keys(data[0]);
								                data.map(function(d){ 
								                    return{
								                    	Tree: d.Tree, 
								                    	value: d.value
								                    }

								                });
								            };
								            key_new = keys.splice(0,1)
								            update_data(data, keys);
									    });
									}

									function update_data(data, keys){
										//x0.domain(d3.map(data, function (d) { console.log(d.Tree); return d.Tree; }));
										x1.domain(keys).rangeRound([0, x0.bandwidth()]);
										//y.domain([0, d3.max(data, function (d) { return d3.max(keys, function (key) { return d[key];}); })]).nice();
										
										g.selectAll("g")
											.data(data)
											//.attr("transform", function (d) { return "translate(" + x0(d.Tree) + ",0)"; })
											.selectAll("rect")
											.data(function (d) { return keys.map(function (key) { return { key: key, value: d[key], trees: d.Tree }; }); })
											.transition()
											.duration(1000)
											.attr("x", function (d) { return x1(d.key); })
											.attr("y", function (d) { return y(d.value); })
											.attr("width", x1.bandwidth())
											.attr("height", function (d) { return height - y(d.value); })
											.attr("fill", function (d) { return z(d.key); });
									}

									function iter_file(d, i, columns){
										for (var i = 1, n = columns.length; i < n; ++i) d[columns[i]] = +d[columns[i]];
										return d;
									}
								</script>
							</div>
						</div>

						</html>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>