<section id="airpollution_d">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Trees and airpollution</h2>
                <hr class="star-primary">
            </div>
            <p>
                The air quality is influenced by the diameter of the trees and the amount of trees in the area.
                Clicking on the image below, you can explore the influence of trees on the air quality in each neighbourhood.
                It is possible to see the effect on four different air quality measures NO2, O3, PM25 and Black Carbon. 
                Each point in the scatterplot you are going to see corresponds to a neighbourhood in New York City. 
                The map on the side is showing you the community districts, in which the neighbourhoods belong to, and the corresponding boroughs.
                You can hover over each point in the plot to see the corresponding district, and you can hover over each district to see it's corresponding
                points. Note that, when clicking a button, both the graphs change.
                Have fun!
            </p>
            <div class="col-sm-4 modal-item" style="padding-top:15px;margin:0 auto;float:none">
                <a href="#scatterdiameter-modal" class="modal-link" data-toggle="modal">
                    <img src="img/modals/scatterplot_diameter.png" class="img-responsive">
                </a>
            </div><br>
            <p>
                You can see that the trees (and the diameter) influece the air quality in a positive way. The only exception is ozone, O3. There are 
                some scientists who claim that trees in the city are not necessarily good for improving air quality. It's interesting to see that most of the
                points in the plot are near each other in each borough and that the highest average diameter is in Staten Island, while Manhattan is doing
                pretty poor compared to the rest.
            </p>
        </div>                  
    </div>
</section>