<section id="complaints">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Problems and complaints</h2>
                <hr class="star-primary">
            </div>
            <p>
                As we can see on the map below, the problems with the trunk shown as red dots and branch wire problems in green. We can see that
                there are some clusterings in the same zones, which could be explained by a large amount of power lines. In fact, there are some
                spots in the same areas from which most of the 311 complaints are coming from regarding trees hitting powerlines, which can be seen
                in the second plot.
            </p>
            <img src="img/trunk_branch.png" style="margin:0 auto;width:700px" class="img-responsive"><br>
            <img src="img/overgrown_hitting_powerphone_lines.png" style="margin:0 auto;width:700px" class="img-responsive">
            <p>
                We can see that Brooklyn is placed in the middle regarding air quality classification, and most of the new tree requests are from
                the areas in Brooklyn, which could indicate a wish to improve the air quality.
            </p>
            <img src="img/new_tree_request.png" style="margin:0 auto;width:700px" class="img-responsive">
            <p>
                Most of the root grate problems are in Manhattan (which is generally the most problematic borough in regards to air pollution),
                even if not for ozone.
            </p>
            <img src="img/root_grate.png" style="margin:0 auto;width:700px" class="img-responsive"> 
            <br>
            <p>
                All of these 'problematic' areas definitely require some more exploration as there is potentially a lot of value to be gained here.
            </p>
            <br><br>
            <p>
                It could be interesting to explore more in these areas, the complaints and how each area takes care of its trees. This might happen in the future,
                in the meanwhile, we hope that you have enjoyed this walkthrough of New York City's trees.
            </p>           
        </div>                  
    </div>
</section>
<a style="color: #bc184d" href="https://github.com/cecli/cecli.github.io">Link to the repo</a>