   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">NYC Tree Funtime</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About the project</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#intro">Introduction</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#health">Tree health</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#problems">Tree problems</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#airpollution_d">Airpollution</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#complaints">311 complaints</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>