<section id="problems">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Tree problems</h2>
                <hr class="star-primary">
            </div>
            <p>
                Click on the image below to explore the amount of problems in the five boroughs of New York City.
                You can see the percentage of the problems in each borough respective to the total amount of problems that could have
                been there. Each tree can have a max of nine problems, so if an area has 100 trees, maximum 900 problems can be presented.
                <br> You can explore the problems grouped into 'Root', 'Trunk' and 'Branch' related problems. 
                The complete list of problems that a tree can have is 'Trunk:Wire,Light,Other' and a branch can be 'Branch:Light,Shoe,Other'
                and root can be 'Root:Stone,Other,Grate'.
            </p>
            <div class="col-sm-4 modal-item" style="padding-top:15px;margin:0 auto;float:none">
                <a href="scatterproblem-modal.html">
                    <img src="img/modals/scatterplot_problems.png" class="img-responsive">
                </a>
            </div>

            <p>You have noticed that Manhattan is the borough with most problems out of the five and Queens is the one with fewest.
                This does not reflect the total tree amount in the areas, as we have seen earlier that Queens has a lot more trees than Manhattan.
                The problems are influencing the growing-process of a tree. This means it has a direct influence of the diameter of the tree,
                as we can see in the image below, where the average tree diameter is shown for each community district.
            </p>
            <img src="img/tree_problems.png" style="margin:0 auto" class="img-responsive"><br>
            <p>Here we can also see that there is a lot of smaller trees (smaller diameter), probably because a lot of them were planted recently.
                In fact, there was a growing number of trees from 1995 to 2015. However, the diameter size counts because it can influence the
                air pollution since bigger trees have a positive impact on the air quality <a style="color: #bc184d" href="https://www.nrs.fs.fed.us/units/urban/local-resources/downloads/Tree_Air_Qual.pdf">(reference)</a>.
                In the next section, we are going to explore the influence of trees on the air pollution.
            </p>
        </div>                  
    </div>
</section>