<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include about.html %}
    {% include intro.html %}
    {% include health.html %}
    {% include problems.html %} 
    {% include airpollution_d.html %} 
    {% include complaints.html %} 

    {% include modals/tree-modal.html %}
    {% include modals/tree-modal2.html %}   
    {% include modals/knnmap-modal.html %}    
    {% include modals/scatterdiameter-modal.html %}   

    {% include js.html %}
    </body>
</html>